<div id="star_wars_app">
  <div class="overlay" *ngIf="isShowSpinner">
    <div class="spinner-wrapper">
      <app-spinner [message]="message"></app-spinner>
    </div>
  </div>
  <div id="movies_container" *ngIf="!isShowSpinner">
    <div id="movies_title_container">
      <ul>
        <li *ngFor="let movie of movies" (click)="setSelectedMovie(movie)">
          {{ movie?.title || movie?.name }}
        </li>
      </ul>
    </div>
    <div id="movies_details_container" *ngIf="selectedMovie">
      <p style="border-radius: 10px 10px 0 0;">{{ selectedMovie?.title || selectedMovie?.name }}</p>
      <p>{{ selectedMovie?.synopsis || selectedMovie?.opening_crawl }}</p>
      <p>{{ selectedMovie?.release_date | date : "dd/MM/yyyy"}}</p>
    </div>
  </div>
</div>
